// Variaveis
@use '../abstract/var';

// Mixins
@use '../abstract/mixins';

// Estilizando Seção Benefícios
#beneficios {
    width: 100vw;
    height: 500px;
    background-color: var.$cor-5;

    #content-beneficios {
        @include mixins.margem-central(80%);
        height: 100%;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;

        #left-beneficios {
            width: 50%;
            height: 90%;
            @include mixins.flex-col();
            align-items: start;
            justify-content: center;

            h1 {
                text-align: start;
                @include mixins.ff-fs-cl(var.$text-t, 3rem, var.$cor-2, 900);
                text-transform: uppercase;
                margin: 0;
                padding: 0;
            }

            p {
                @include mixins.ff-fs-cl(var.$text-p, 1rem, var.$cor-1, 400);
                text-align: justify;
                margin: 0;
                padding: 0;
            }
        }

        #right-beneficios {
            display: flex;
            align-items: center;
            justify-content: end;
            width: 50%;
            height: 90%;
            
            img {
                height: 70%;
            }
        }
    }
}

// RESPONSIVIDADE

// Tablet
@media only screen and (max-width:800px) {
    #beneficios {
        height: auto;
        #content-beneficios {
            @include mixins.margem-central(90%);
            @include mixins.flex-col;
            align-items: center;
            justify-content: center;

            #left-beneficios {
                @include mixins.margem-central(90%);
                align-items: center;
                
                h1{
                    margin-top: 2rem;
                    text-align: center;
                    font-size: 2rem;
                }

                p {
                    margin-top: 1rem;
                    text-align: center;
                }
            }

            #right-beneficios {
                height: 90%;
                padding: 2rem;
                justify-content: center;
                
                img {
                    width: 90%;
                }
        }
    }
}

}