// Variaveis
@use '../abstract/var';

// Mixins
@use '../abstract/mixins';

// Estilização da Seção Problema
#problema {
    height: 500px;
    background-color: var.$cor-5;

    #content-problema {
        @include mixins.margem-central(80%);
        align-items: center;
        height: 100%;
        display: flex;
        gap: 1rem;

        #left-problema {
            height: 100%;
            width: 50%;
            flex: 1;
            @include mixins.flex-col();
            justify-content: center;
            h1 {
                @include mixins.ff-fs-cl(var.$text-t, 3rem, var.$cor-2, 900);
                text-transform: uppercase;
                margin: 0;
                padding: 0;
            }

            p {
                width: 80%;
                @include mixins.ff-fs-cl(var.$text-p, 1rem, var.$cor-1, 400);
                text-align: justify;
                margin: 0;
                padding: 0;
            }
        }

        #right-problema {
            width: 50%;
            height: 100%;
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;

            img {
                width: 80%;
                height: auto;
            }
        }
    }
}

// Responsividade
// Tablet
@media only screen and (max-width:800px) {
    #problema {
        display: flex;
        height: calc(700px - 2%);
        
        #content-problema {
            flex-direction: column;
            justify-content: space-evenly;
            gap: 2rem;

            #left-problema {
                margin-top: 2rem;
                text-align: center;
                width: 100%;
                gap: 0.5rem;
                align-items: center;

                h1 {
                    font-size: 2rem;
                }
            }

            #right-problema {
                width: 100%;
            }
        }
    }

}