// Variaveis
@use '../abstract/var';

// Mixins
@use '../abstract/mixins';

// Estilizando Seção Público
#publico {
    // Conteudo Principal
    #content-publico {
        width: 100vw;
        height: 500px;
        background-color: var.$cor-1;
        display: flex;

        // Classe Nome Publico
        .nome-publico {
            color: var.$cor-4;
            font-size: 2rem;
            font-weight: 500;
        }
    
        // Div Animais
        #animais {
            display: flex;
            width: 50%;
            height: 100%;
            background-image: url(../assets/publico/animal.png);
            background-position: center;
            background-size: cover;
            transition: ease-in all 1s;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            opacity: 0.3;
        }
    
        // Efeito Hover Animais
        #animais:hover {
            opacity: 0.8;
            width: 120%;
    
        }
    
        // Modal Animais Marinhos
        #modal-animal {
            cursor: pointer;
            display: none;
            width: 100%;
            height: 100%;
            background-image: url(../assets/publico/animal.png);
            background-position: center;
            background-size: cover;
            align-items: center;
    
            h1 {
                @include mixins.margem-central(80%);
                @include mixins.ff-fs-cl(var.$text-t, 3rem, var.$cor-5, 300);
                opacity: 1;
                padding: 0;
                text-transform: uppercase;
            }
        }
    
        // Div Seres-Humanos
        #seres-humanos {
            display: flex;
            width: 50%;
            height: auto;
            background-image: url(../assets/publico/humano.png);
            background-position: center;
            background-size: cover;
            align-items: center;
            justify-content: center;
            transition: ease-in all 1s;
            cursor: pointer;
            opacity: 0.3;
        
        }
    
        // Efeito Hover Seres Humanos
        #seres-humanos:hover {
            width: 120%;
            opacity: 0.8;
        }
    
        // Modal Seres Humanos
        #modal-humano {
            cursor: pointer;
            display: none;
            width: 100%;
            height: 100%;
            background-image: url(../assets/publico/humano.png);
            background-position: center;
            background-size: cover;
            align-items: center;

            h1 {
                @include mixins.margem-central(80%);
                @include mixins.ff-fs-cl(var.$text-t, 3rem, var.$cor-5, 300);
                opacity: 1;
                padding: 0;
                text-transform: uppercase;
            }
        }
    }
}

// RESPONSIVIDADE

// Tablet   
@media only screen and (max-width:840px) {
    // Seção Público
    #publico {
        // Conteudo Principal
        #content-publico {
            flex-direction: column;
            flex-wrap: wrap;
            height: auto;
    
            // Classe Nome Publico
            .nome-publico {
                font-size: 1.3rem;
            }

            // Div Animais
            #animais {
                height: 200px;
                width: 100%;
                opacity: 0.7;
            }
    
            // Modal Animais
            #modal-animal {
                height: 400px;
    
                h1{
                    @include mixins.margem-central(90%);
                    font-size: 2rem;
                    text-align: start;
                    text-shadow: 0 0 50px var.$cor-preta;
                }
            }
    
            // Div Seres Humanos
            #seres-humanos {
                opacity: 0.7;
                height: 200px;
                width: 100%;
            }

            // Modal Seres Humanos
            #modal-humano {
                height: 400px;
    
                h1{
                    @include mixins.margem-central(90%);
                    font-size: 2rem;
                    text-align: start;
                    text-shadow: 0 0 50px var.$cor-preta;
                }
            }
        }
    }
}