// Variaveis
@use '../abstract/var';

// Mixins
@use '../abstract/mixins';

// Estilizando Seção Tecnologia
#tecnologias {
    width: 100vw;
    height: 500px;
    background-color: var.$cor-2;
    display: flex;

    #content-tecnologia {
        @include mixins.margem-central(80%);
        @include mixins.margem-horizontal();
        display: flex;
        justify-content: space-between;
        align-items: center;

        #slide-tec {
            width: auto;
            height: 70%;

            #img-tec {
                height: 100%;
                transition: opacity 0.5s ease;
                width: 100%;
            }
        }

        #titulo-tec {
            width: 40%;
            @include mixins.flex-col();
            align-items: end;

            h1 {
                @include mixins.ff-fs-cl(var.$text-t, 3rem, var.$cor-branca, 300);
                margin: 0;
                padding: 0;
                text-align: right;
                text-transform: uppercase;
            }

            p {
                @include mixins.ff-fs-cl(var.$text-p, 1rem, var.$cor-branca, 300);
                margin: 1rem 0 0 0;
                padding: 0;
                text-align: right;
                text-transform: uppercase;
            }
        }
    }
}


// Responsividade
// Tablet
@media only screen and (max-width:840px){
    #tecnologias {
        height: auto;

        #content-tecnologia {   
            @include mixins.flex-col();
            justify-content: space-evenly;

            #titulo-tec{
                width: auto;
                display: flex;
                align-items: center;
                h1 {
                    font-size: 2rem;
                    text-align: center;
                }
                p {
                    text-align: center;
                }
            } 
        }
    }
}