// Mixins
@mixin margem-central($width){
    width: $width;
    margin: 0 auto;
}

@mixin ff-fs-cl ($f-family, $f-size, $f-color, $f-weight){
    font-family: $f-family;
    font-size: $f-size;
    color: $f-color;
    font-weight: $f-weight;
}




