@use '../abstract/var';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

// Personalizando Barra de Rolagem
/* Barra de Rolagem */
::-webkit-scrollbar {
    width: 7px; 
    height: 12px; 
}

/* Background */
::-webkit-scrollbar-track {
    background: var.$cor-1; 
    border-radius: 0px; 
}

/* Quando Move */
::-webkit-scrollbar-thumb {
    background: var.$cor-4;
    border-radius: 10px; 
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
    background: var.$cor-3;
}

/* Botões */
::-webkit-scrollbar-button {
    display: none;
}

