// Cores
$cor-1: #012E40 ;
$cor-2: #024959;
$cor-3: #4E8DA6;
$cor-4: #ADC5D9;
$cor-5: #D8E6F2 ;
$cor-branca: #fff;
$cor-preta: #000;
$cor-bg-nav-mobile: #d3d3d311;

// Gradientes
$gradiente-1: linear-gradiente(180deg, $cor-1 0%, $cor-2 86.78%);
$gradiente-2: linear-gradiente(180deg, $cor-4 0%, $cor-3 86.78%);

// Texto
$text-p: 'Monteserrat', sans-serif;
$text-t: 'Freeman', sans-serif;

// Efeito
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}
