// Mixins
@use 'mixins';

// Cores
$cor-1: #012E40;
$cor-2: #024959;
$cor-3: #4E8DA6;
$cor-4: #ADC5D9;
$cor-5: #D8E6F2;
$cor-branca: #fff;
$cor-preta: #000;
$cor-bg-nav-mobile: #d3d3d311;
$cor-footer: #f3f3f3;

$gradiente: linear-gradient(180deg, $cor-5 0%, $cor-branca 96.87%);

// Texto
$text-p: 'Monteserrat', sans-serif;
$text-t: 'Freeman', sans-serif;

// Strong
.blue {
    color: $cor-4;
}

// Efeito de Entrada
// Entrada ---->
.hidden-left-to-right{
    transform: translateX(-100%);
    @include mixins.animacao-entrada()
}

// <---- Entrada
.hidden-right-to-left{
    transform: translateX(100%);
    @include mixins.animacao-entrada()
}


// Efeito Aplicado após Scroll
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}
