@charset "UTF-8";
.blue {
  color: #ADC5D9;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Barra de Rolagem */
::-webkit-scrollbar {
  width: 7px;
  height: 12px;
}

/* Background */
::-webkit-scrollbar-track {
  background: #012E40;
  border-radius: 0px;
}

/* Quando Move */
::-webkit-scrollbar-thumb {
  background: #ADC5D9;
  border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #4E8DA6;
}

/* Botões */
::-webkit-scrollbar-button {
  display: none;
}

header {
  height: 70px;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  top: 0;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
header .margin-header {
  height: 70px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .margin-header h1 {
  font-family: "Freeman", sans-serif;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
header .margin-header #nav-desktop {
  display: inline-flex;
  align-items: center;
}
header .margin-header #nav-desktop ul {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 1.5rem;
}
header .margin-header #nav-desktop ul li {
  font-family: "Monteserrat", sans-serif;
  font-size: 0.85rem;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}
header .margin-header #nav-desktop ul li a {
  text-decoration: none;
  color: #fff;
  transition: all ease-in-out 0.4s;
  position: relative;
}
header .margin-header #nav-desktop ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #D8E6F2);
  transition: width 0.4s ease;
}
header .margin-header #nav-desktop ul li a:hover::after {
  width: 100%;
}
header .margin-header .btn-abrir-menu {
  display: none;
  cursor: pointer;
}
header .margin-header #nav-mobile {
  display: none;
  width: calc(40vw + 10%);
  height: 100vh;
  background-color: rgba(211, 211, 211, 0.0666666667);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 20px 0px 0px 0px;
  position: fixed;
  right: 0;
  top: 0;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
header .margin-header #nav-mobile ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
header .margin-header #nav-mobile ul li {
  font-family: "Monteserrat", sans-serif;
  font-size: 0.85rem;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}
header .margin-header #nav-mobile ul li a {
  text-decoration: none;
  color: #fff;
  transition: all ease-in-out 0.4s;
  position: relative;
}
header .margin-header #nav-mobile ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #D8E6F2);
  transition: width 0.4s ease;
}
header .margin-header #nav-mobile ul li a:hover::after {
  width: 100%;
}

.transparente {
  background: transparent;
}

.scrolled {
  background-color: rgba(211, 211, 211, 0.0666666667);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

@keyframes slideFromRight {
  from {
    right: -250px;
  }
  to {
    right: 0;
  }
}
@keyframes slideToRight {
  from {
    right: 0;
  }
  to {
    right: -250px;
  }
}
@media only screen and (max-width: 840px) {
  header .margin-header #nav-desktop {
    display: none;
  }
  header .margin-header .btn-abrir-menu {
    display: flex;
  }
}
@media only screen and (max-width: 300px) {
  header .margin-header #nav-mobile {
    width: 100vw;
    border-radius: 0;
    justify-content: center;
  }
  header .margin-header #nav-mobile ul {
    align-items: center;
  }
}
#home {
  cursor: url("") 0 0, auto;
}
#home .video-background-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#home .video-background-section #background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#home .video-background-section .content {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
#home .video-background-section .content h1 {
  font-family: "Freeman", sans-serif;
  font-size: 3rem;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  opacity: 0.85;
  padding: 0;
}

#problema {
  height: 60vh;
  background-color: #D8E6F2;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
#problema #content-problema {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  display: flex;
}
#problema #content-problema #left-problema {
  height: 100%;
  width: 50%;
  display: flex;
  gap: 1rem;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
#problema #content-problema #left-problema h1 {
  font-family: "Freeman", sans-serif;
  font-size: 3rem;
  color: #024959;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
#problema #content-problema #left-problema p {
  width: 80%;
  font-family: "Monteserrat", sans-serif;
  font-size: 1rem;
  color: #012E40;
  font-weight: 400;
  text-align: justify;
  margin: 0;
  padding: 0;
}
#problema #content-problema #right-problema {
  width: 50%;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
#problema #content-problema #right-problema img {
  width: 80%;
  height: auto;
}

@media only screen and (max-width: 800px) {
  #problema {
    display: flex;
    height: auto;
  }
  #problema #content-problema {
    flex-direction: column;
    gap: 2rem;
  }
  #problema #content-problema #left-problema {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    gap: 0.5rem;
    align-items: center;
  }
  #problema #content-problema #left-problema h1 {
    font-size: 2rem;
  }
  #problema #content-problema #right-problema {
    width: 100%;
  }
}
#tecnologia {
  width: 100vw;
  height: 600px;
  background-color: #024959;
  display: flex;
}
#tecnologia #content-tecnologia {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tecnologia #content-tecnologia #banner-tec {
  width: auto;
  height: 70%;
}
#tecnologia #content-tecnologia #banner-tec #img-banner {
  height: 100%;
  transition: opacity 0.5s ease;
  width: 100%;
}
#tecnologia #content-tecnologia #titulo-tec {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
#tecnologia #content-tecnologia #titulo-tec h1 {
  font-family: "Freeman", sans-serif;
  font-size: 3rem;
  color: #fff;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: right;
  text-transform: uppercase;
}
#tecnologia #content-tecnologia #titulo-tec p {
  font-family: "Monteserrat", sans-serif;
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
  margin: 1rem 0 0 0;
  padding: 0;
  text-align: right;
  text-transform: uppercase;
}

@media only screen and (max-width: 840px) {
  #tecnologia {
    height: 300px;
  }
  #tecnologia #content-tecnologia {
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  #tecnologia #content-tecnologia #banner-tec {
    height: 40%;
  }
  #tecnologia #content-tecnologia #titulo-tec {
    width: auto;
    display: flex;
    align-items: center;
  }
  #tecnologia #content-tecnologia #titulo-tec h1 {
    font-size: 2rem;
    text-align: center;
  }
  #tecnologia #content-tecnologia #titulo-tec p {
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */